---
layout: default
title: Label templates for Google Docs & Sheets
canonical: https://labelsmerge.com/labels/
og_title: Label templates for Google Docs & Sheets
og_url: https://labelsmerge.com/labels/
---


<section>
    <div class="container text-center pt-5 pb-3">
        <h1>Label templates for Google Docs</h1>
        <p class="col-md-9 mx-auto subheading">Find the most popular label templates for Google Docs. These label templates are available in blank sheets to fill in.</p>
    </div>
    <div class="container">
        <section>
            <h2>Most popular <a href="https://www.avery.com/">Avery®</a> templates for Google Docs</h2>
            <ul class="list-unstyled list-columns">
                <li><a href=" /labels/avery-3475-template-google-docs">Avery® 3475</a></li>
                <li><a href=" /labels/avery-5160-template-google-docs">Avery® 5160</a></li>
                <li><a href=" /labels/avery-5162-template-google-docs">Avery® 5162</a></li>
                <li><a href="/labels/avery-5163-template-google-docs">Avery® 5163</a></li>
                <li><a href=" /labels/avery-5164-template-google-docs">Avery® 5164</a></li>
                <li><a href="/labels/avery-5260-template-google-docs">Avery® 5260</a></li>
                <li><a href="/labels/avery-5960-template-google-docs">Avery® 5960</a></li>
                <li><a href="/labels/avery-8160-template-google-docs">Avery® 8160</a></li>
                <li><a href="/labels/avery-8163-template-google-docs">Avery® 8163</a></li>
                <li><a href="/labels/avery-8167-template-google-docs">Avery® 8167</a></li>
                <li><a href="/labels/avery-11109-template-google-docs">Avery® 11109</a></li>
                <li><a href="/labels/avery-18160-template-google-docs">Avery® 18160</a></li>
                <li><a href="/labels/avery-15700-template-google-docs">Avery® 15700</a></li>
                <li><a href="/labels/avery-18660-template-google-docs">Avery® 18660</a></li>
            </ul>
        </section>
        <section>
            <h2>Templates compatible with <a href="https://www.sheetlabels.com/">SheetLabels.com</a></h2>
            <ul class="list-unstyled list-columns">
                <li><a href=" /labels/sheetlabels-SL1-template-google-docs">SheetLabels.com - SL1</a></li>
                <li><a href="/labels/sheetlabels-SL2-template-google-docs">SheetLabels.com - SL2</a></li>
                <li><a href="/labels/sheetlabels-SL3-template-google-docs">SheetLabels.com - SL3</a></li>
                <li><a href="/labels/sheetlabels-SL100-template-google-docs">SheetLabels.com - SL100</a></li>
                <li><a href="/labels/sheetlabels-SL101VP-template-google-docs">SheetLabels.com - SL101VP</a></li>
                <li><a href="/labels/sheetlabels-SL103-template-google-docs">SheetLabels.com - SL103</a></li>
                <li><a href="/labels/sheetlabels-SL105-template-google-docs">SheetLabels.com - SL105</a></li>
            </ul>
        </section>
        <section>
            <h2>Templates compatible with <a href="https://www.onlinelabels.com/">OnlineLabels.com</a></h2>
            <ul class="list-unstyled list-columns">
                <li><a href="/labels/onlinelabels-OL25-template-google-docs">OnlineLabels.com - OL25</a></li>
                <li><a href="/labels/onlinelabels-OL75-template-google-docs">OnlineLabels.com - OL75</a></li>
                <li><a href="/labels/onlinelabels-OL100-template-google-docs">OnlineLabels.com - OL100</a></li>
                <li><a href="/labels/onlinelabels-OL114-template-google-docs">OnlineLabels.com - OL114</a></li>
                <li><a href="/labels/onlinelabels-OL114-template-google-docs">OnlineLabels.com - OL114</a></li>
                <li><a href="/labels/onlinelabels-OL125-template-google-docs">OnlineLabels.com - OL125</a></li>
                <li><a href="/labels/onlinelabels-OL150-template-google-docs">OnlineLabels.com - OL150</a></li>
                <li><a href="/labels/onlinelabels-OL400-template-google-docs">OnlineLabels.com - OL400</a></li>
                <li><a href="/labels/onlinelabels-OL875-template-google-docs">OnlineLabels.com - OL875</a></li>
                <li><a href="/labels/onlinelabels-OL1025-template-google-docs">OnlineLabels.com - OL1025</a></li>
                <li><a href="/labels/onlinelabels-OL2088-template-google-docs">OnlineLabels.com - OL2088</a></li>
                <li><a href="/labels/onlinelabels-OL4904-template-google-docs">OnlineLabels.com - OL4904</a></li>
            </ul>
        </section>
        <section>
            <h2>Templates compatible with <a href="https://www.herma.com/">Herma</a></h2>
            <ul class="list-unstyled list-columns">
                <li><a href="/labels/herma-4380-template-google-docs">Herma 4380</a></li>
                <li><a href="/labels/herma-4606-template-google-docs">Herma 4606</a></li>
                <li><a href="/labels/herma-4615-template-google-docs">Herma 4615</a></li>
                <li><a href="/labels/herma-5062-template-google-docs">Herma 5062</a></li>
                <li><a href="/labels/herma-5063-template-google-docs">Herma 5063</a></li>
                <li><a href="/labels/herma-5064-template-google-docs">Herma 5064</a></li>
                <li><a href="/labels/herma-5065-template-google-docs">Herma 5065</a></li>
            </ul>
        </section>
        <section>
            <h2>Templates compatible with <a href="https://www.avery.com/">Avery®</a></h2>
            <ul class="list-unstyled list-columns">
                {% for label in site.labels %}
                    {% if label.vendor == "Avery" %}
                    <li><a href="{{label.slug}}">{{ label.name }}</a></li>
                    {% endif %}
                {% endfor %}
            </ul>
        </section>
    </div>
    <div class="text-center p-2">
        <a class="btn btn-filled mb-5" href="/contact" role="button" style="font-size:1.2em; font-weight: 600;">Suggest new labels templates for Google Docs</a>
    </div>
    </div>
</section>



{%- include reinsurance.html -%}
</body>