<div id="banner">
  <style>
    #banner {
      background: #000000;
      color: white;
      text-align: center;
      font-weight: 800;
      padding: 1.2rem;
    }
  </style>
  <a href="/pricing" style="color: white"
    ><b>Black Friday Limited Offer 🔥 UP TO 50% OFF 🔥 <span id="bf-sales-date"></span></b
    ><span
      style="
        max-height: 115px;
        border: 2px solid;
        border-radius: 4px;
        padding: 0.3rem;
        margin-left: 0.5rem;
        display: inline-block;
        vertical-align: middle;
        background: white;
        color: black;
      "
      >Get your discount →</span
    ></a
  >
  <!-- Display the countdown timer -->
  <script>
    // Set the date we're counting down to
    let countDownDate = new Date('2025-11-29T07:59:00.000Z').getTime();
    // Get today's date and time
    let now = new Date().getTime();
    // Find the distance between now and the count down date
    let distance = countDownDate - now;
    // Time calculations for days, hours, minutes and seconds
    let days = Math.round(distance / (1000 * 60 * 60 * 24));
    if (distance < 0) {
      document.getElementById('bf-sales-date').innerHTML = 'Offer is ending soon';
    } else if (Math.ceil(distance / (1000 * 60 * 60 * 24)) == 1) {
      document.getElementById('bf-sales-date').innerHTML = 'Offer ends today';
    } else if (Math.ceil(distance / (1000 * 60 * 60 * 24)) == 2) {
      document.getElementById('bf-sales-date').innerHTML = 'Offer ends tomorrow';
    } else {
      document.getElementById('bf-sales-date').innerHTML = 'Offer ends in ' + days + ' days';
    }
  </script>
</div>