<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>LabelMaker - Mail merge Avery Labels</title>
  <meta name="description" content="Format and print Avery labels and name badges, all from within Google Suite. Whether you’re printing address labels for a mailing or making name badges for your next event, Labelmaker helps you create professional labels within minutes.">
  <meta name="author" content="Geminides">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" href="/assets/styles/main.css">
  <link href="https://fonts.googleapis.com/css?family=Rubik:300,400,700&display=swap" rel="stylesheet">
  <nav class="navbar navbar-expand-md navbar-light bg-light fixed-top" id="navbar">
    <div class="container">
      <a href="/" class="font-weight-bold">LabelMaker</a>
      <button
        class="navbar-toggler collapsed"
        type="button"
        data-toggle="collapse"
        data-target="#navbarTabs"
        aria-controls="navbar"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="icon-bar top-bar"></span>
        <span class="icon-bar middle-bar"></span>
        <span class="icon-bar bottom-bar"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarTabs">
        <ul class="navbar-nav ml-auto smooth-scroll">
          <!-- <li class="nav-item">
            <a class="nav-link" href="/#features">FEATURES</a>
          </li> -->
          <!-- <li class="nav-item">
            <a class="nav-link" href="/pricing">PRICING</a>
          </li> -->
          <li class="nav-item">
            <a class="btn btn-primary" href="https://gsuite.google.com/marketplace/app/labelmaker/585829216542" role="button">INSTALL</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</head>