<footer class="container-fluid py-5 lightgray">
    <div class="container">
        <div class="row">
            <div class="col-6">
              <p class="font-weight-bold">LabelMaker: Mail merge Avery Labels</p>
              <small class="d-block mb-3 text-muted">Avery® is a trademark of Avery Products Corporation, one of the world’s leading manufacturers of labels & other products. Labelmaker is a software made by the Geminides.</small>
            </div>
            <div class="col-3">
              <h5>Company</h5>
              <ul class="list-unstyled text-small">
                <li><a class="text-muted" href="/privacy">Privacy</a></li>
                <li><a class="text-muted" href="/terms">Terms</a></li>
              </ul>
            </div>
            <!-- <div class="col-3">
              <h5>Resources</h5>
              <ul class="list-unstyled text-small">
                <li><a class="text-muted" href="#">Features</a></li>
                <li><a class="text-muted" href="#">Pricing</a></li>
              </ul>
            </div>
            <div class="col-6 col-md">
              <h5>Resources</h5>
              <ul class="list-unstyled text-small">
                <li><a class="text-muted" href="#">Business</a></li>
                <li><a class="text-muted" href="#">Education</a></li>
                <li><a class="text-muted" href="#">Government</a></li>
                <li><a class="text-muted" href="#">Gaming</a></li>
              </ul>
            </div>
            <div class="col-6 col-md">
              <h5>About</h5>
              <ul class="list-unstyled text-small">
                <li><a class="text-muted" href="#">Team</a></li>
                <li><a class="text-muted" href="#">Locations</a></li>
                <li><a class="text-muted" href="#">Privacy</a></li>
                <li><a class="text-muted" href="#">Terms</a></li>
              </ul>
            </div> -->
          </div>
    </div>
  </footer>