<footer class="container-fluid py-5" style="background:linear-gradient(to bottom, #fff,#f8f8fa)"">
  <div class="container">
    <div class="row">
      <div class="col-6 mr-5">
        <p class="font-weight-bold">Labelmaker: Mail merge Avery Labels</p>
        <small class="d-block mb-3 text-muted"
          >Avery® is a trademark of Avery Products Corporation, one of the world’s leading manufacturers of labels &
          other products. Labelmaker is a software made by the Geminides.</small
        >
      </div>
      <div class="col-3">
        <!-- <h5>Company</h5> -->
        <ul class="list-unstyled text-small">
          <li><a class="text-muted" href="/privacy">Privacy</a></li>
          <li><a class="text-muted" href="/terms">Terms</a></li>
        </ul>
      </div>
    </div>
  </div>
</footer>
