<footer class="container-fluid py-5">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <img src="/assets/images/brand/labelmaker-logo.svg" alt="Labelmaker logo" class="mr-2" />
        <span class="font-weight-bold">{{ site.data.navigation.footer-description[page.lang]title }}</span>
        <small class="d-block mb-3">{{ site.data.navigation.footer-description[page.lang]disclaimer }}</small>
      </div>
      <div class="col-xs-12 d-flex flex-wrap flex-lg-nowrap justify-content-between">
        {% for nav in site.data.navigation.footer %}
        <div>
          <h4>{{ nav[1]title[page.lang] }}</h4>
          <ul class="list-unstyled mr-4">
            {% assign footerlinks = nav[1].links %}{% for link in footerlinks %}{% if link[1][page.lang] == 'EN / FR' %}
            <li><a href="/">EN</a> / <a href="/fr/">FR</a></li>
            {% elsif link[1][page.lang] == 'FR / EN' %}
            <li><a href="/fr/">FR</a> / <a href="/">EN</a></li>
            {% else %}
            <li><a href="{{ link[1].url }}">{{ link[1][page.lang] }}</a></li>
            {% endif %}{% endfor %}
          </ul>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
</footer>
