<footer class="container-fluid py-5">
  <div class=" container">
    <div class="row">
      <div class="col-6 mr-5">
        <img src="/assets/images/brand/labelmaker-logo.svg" alt="Labelmaker logo" class="mr-2" />
        <span class="font-weight-bold">Labelmaker: Mail merge Avery Labels</span>
        <small class="d-block mb-3">Labelmaker is a software made by Geminides. Avery® is a trademark of Avery Products Corporation, one of the world’s leading manufacturers of labels &
          other products.</small>
      </div>
      <div class="col-3 d-flex">
        <ul class="list-unstyled">
          <li><span class="mx-2 font-weight-bold">Company</span></li>
          <li><a href="/pricing" class="mx-2">Pricing</a></li>
          <li><a href="/privacy" class="mx-2">Privacy</a></li>
          <li><a href="/terms" class="mx-2">Terms</a></li>
        </ul>
        <ul class="list-unstyled mx-2">
          <li><span class="mx-2 font-weight-bold">Support</span></li>
          <li><a href="https://groups.google.com/forum/#!topic/labelmaker/7I0JdEmls00" class="mx-2">Tutorial</a></li>
          <li><a href="https://groups.google.com/forum/#!forum/labelmaker" class="mx-2">Forum</a></li>
        </ul>
      </div>
    </div>
  </div>
</footer>