<header class="fixed-top" style="position: sticky">
  <div id="maintenance-banner">
    <a href="https://groups.google.com/g/labelmaker/c/T_t-rItdpJs" style="color: white"
      ><span>Announcement: Labelmaker is temporarily not available today due to Google doing maintenance on Workspace add-ons. We're sorry for the inconvenience and do our best to shorten this interruption of service.</b
      ><span id="christmas-sales-date"></span>
      <span
        style="
          max-height: 115px;
          border-radius: 4px;
          padding: 0.5rem;
          margin-left: 0.5rem;
          display: inline-block;
          vertical-align: middle;
          background: white;
          border: 1px white;
          color: #007bff;
        "
        >Read more →</span
      ></a>
  </div>
  <nav class="navbar navbar-expand-md navbar-light" id="navbar">
    <div class="container">
      <a href="/" class="font-weight-bold"
        ><img
          src="/assets/images/brand/labelmaker-logo.svg"
          alt="Labelmaker logo"
        />
        Labelmaker</a
      >
      <button
        class="navbar-toggler collapsed"
        type="button"
        data-toggle="collapse"
        data-target="#navbarTabs"
        aria-controls="navbar"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="icon-bar top-bar"></span>
        <span class="icon-bar middle-bar"></span>
        <span class="icon-bar bottom-bar"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarTabs">
        <ul class="navbar-nav ml-auto smooth-scroll">
          <li class="nav-item">
            <a
              class="font-weight-bold mr-3"
              href="/guides/how-to-make-labels-google-docs"
              >How to make labels</a
            >
          </li>
          <li class="nav-item">
            <a class="font-weight-bold mr-3" href="/pricing">Pricing</a>
          </li>
          <li class="nav-item">
            <a class="font-weight-bold mr-3" href="/contact">Contact</a>
          </li>
          <li class="nav-item">
            <a
              class="btn btn-primary"
              href="https://workspace.google.com/marketplace/app/create_print_labels_label_maker_for_aver/585829216542"
              role="button"
              >Get started</a
            >
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>
