<head>
  <!-- HTML Meta Tags -->
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  {% if page.canonical %}
  <link rel="canonical" href="{{ page.canonical }}" />
  {% elsif page.layout == 'label' %}
  <link rel="canonical" href="https://labelsmerge.com/labels/{{ page.slug }}" />
  {% endif %} {% if page.document && page.name %}
  <title>Template compatible with {{ page.name }} - Google Docs, PDF, Word</title>
  {% else %}
  <title>{{ page.title }}</title>
  {% endif %}
  <meta
    name="description"
    content="{{ page.description | default: 'Labelmaker helps you mail merge labels with Google Docs & Sheets. Print mailing labels from a wide choice of label manufacturers, including Avery, Herma, SheetLabels and more.' }}"
  />

  <!-- Facebook Meta Tags -->
  <meta property="og:url" content="{{ page.og_url }}" />
  <meta property="og:type" content="website" />
  <meta property="og:title" content="{{ page.title }}" />
  <meta
    property="og:description"
    content="{{ page.description | default: 'Labelmaker helps you mail merge labels with Google Docs & Sheets. Print mailing labels from a wide choice of label manufacturers, including Avery, Herma, SheetLabels and more.' }}"
  />
  <meta property="og:image" content="{{ page.og_img | default:'https://labelsmerge.com/assets/images/open-graph/global.png' }}" />

  <!-- Twitter Meta Tags -->
  <meta name="twitter:card" content="summary_large_image" />
  <meta property="twitter:domain" content="labelsmerge.com" />
  <meta property="twitter:url" content="https://labelsmerge.com/" />
  <meta name="twitter:title" content="{{ page.title }}" />
  <meta
    name="twitter:description"
    content="{{ page.description | default: 'Labelmaker helps you mail merge labels with Google Docs & Sheets. Print mailing labels from a wide choice of label manufacturers, including Avery, Herma, SheetLabels and more.' }}"
  />
  <meta name="twitter:image" content="{{ page.og_image | default: 'https://labelsmerge.com/assets/images/open-graph/global.png' }}" />

  <link rel="icon" href="/assets/images/brand/favicon.ico" type="image/x-icon" />
  <link
    rel="stylesheet"
    href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
    integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk"
    crossorigin="anonymous"
  />
  <link rel="stylesheet" href="/assets/styles/main.css?v=20230123" />
  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;700;800;900&display=swap" rel="stylesheet" />

  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-136395985-5"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag() {
      dataLayer.push(arguments);
    }
    gtag('js', new Date());

    gtag('config', 'UA-136395985-5');
  </script>
</head>
