<header>
  <nav class="navbar navbar-expand-md navbar-light fixed-top" id="navbar">
    <div class="container">
      <a href="/" class="font-weight-bold"
        ><img src="/assets/images/labelmaker-logo.svg" alt="Labelmaker logo" /> Labelmaker</a
      >
      <button
        class="navbar-toggler collapsed"
        type="button"
        data-toggle="collapse"
        data-target="#navbarTabs"
        aria-controls="navbar"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="icon-bar top-bar"></span>
        <span class="icon-bar middle-bar"></span>
        <span class="icon-bar bottom-bar"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarTabs">
        <ul class="navbar-nav ml-auto smooth-scroll">
          <li class="nav-item">
            <a class="mx-4 font-weight-bold" href="/pricing">Pricing</a>
          </li>
          <li class="nav-item">
            <a
              class="btn btn-primary"
              href="https://gsuite.google.com/marketplace/app/labelmaker/585829216542"
              role="button"
              >Get started</a
            >
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>
