<header>
  <div class="fixed-top">
    <div id="bf-banner">
      <style>
        #bf-banner {
          background: #000000;
          color: white;
          text-align: center;
          font-weight: 800;
          padding: 1.2rem;
        }
        body {
          padding-top: 180px !important;
        }
        @media screen and (max-width: 768px) {
          body {
            padding-top: 150px;
          } /* add padding on tablet and mobile displays for banner */
        }

        @media screen and (max-width: 300px) {
          body {
            padding-top: 200px;
          } /* add padding on tablet and mobile displays for banner */
        }
      </style>
      <a href="/pricing" style="color: white"
        ><b
          >Black Friday Limited Offer 🔥 UP TO 50% OFF 🔥
          <span id="bf-sales-date"></span></b
        ><span
          style="
            max-height: 115px;
            border: 2px solid;
            border-radius: 4px;
            padding: 0.3rem;
            margin-left: 0.5rem;
            display: inline-block;
            vertical-align: middle;
            background: white;
            color: black;
          "
          >Get your discount →</span
        ></a
      >
      <!-- Display the countdown timer -->
      <script>
        // Set the date we're counting down to
        let countDownDate = new Date("2021-11-27T07:59:00.000Z").getTime();
        // Get today's date and time
        let now = new Date().getTime();
        // Find the distance between now and the count down date
        let distance = countDownDate - now;
        // Time calculations for days, hours, minutes and seconds
        let days = Math.floor(distance / (1000 * 60 * 60 * 24));

        if (distance < 0) {
          document.getElementById("bf-sales-date").innerHTML = "Offer ended";
        } else if (Math.ceil(distance / (1000 * 3600 * 24)) == 1) {
          document.getElementById("bf-sales-date").innerHTML =
            "Offer ends today";
        } else if (Math.ceil(distance / (1000 * 3600 * 24)) == 2) {
          document.getElementById("bf-sales-date").innerHTML =
            "Offer ends tomorrow";
        } else {
          document.getElementById("bf-sales-date").innerHTML =
            "Offer ends in " + days + " days";
        }
      </script>
    </div>
    <nav class="navbar navbar-expand-md navbar-light" id="navbar">
      <div class="container">
        <a href="/" class="font-weight-bold"
          ><img
            src="/assets/images/brand/labelmaker-logo.svg"
            alt="Labelmaker logo"
          />
          Labelmaker</a
        >
        <button
          class="navbar-toggler collapsed"
          type="button"
          data-toggle="collapse"
          data-target="#navbarTabs"
          aria-controls="navbar"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="icon-bar top-bar"></span>
          <span class="icon-bar middle-bar"></span>
          <span class="icon-bar bottom-bar"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarTabs">
          <ul class="navbar-nav ml-auto smooth-scroll">
            <li class="nav-item">
              <a
                class="font-weight-bold mr-3"
                href="/guides/how-to-make-labels-google-docs"
                >How to make labels</a
              >
            </li>
            <li class="nav-item">
              <a class="font-weight-bold mr-3" href="/pricing">Pricing</a>
            </li>
            <li class="nav-item">
              <a class="font-weight-bold mr-3" href="/contact">Contact</a>
            </li>
            <li class="nav-item">
              <a
                class="btn btn-primary"
                href="https://workspace.google.com/marketplace/app/create_print_labels_label_maker_for_aver/585829216542"
                role="button"
                >Get started</a
              >
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </div>
</header>
