</section>
<div class="container mt-5">
    <h2 class="heading text-center pt-5">Create unlimited labels</h2>
    <p class="subheading text-center mx-auto">Get Labelmaker premium to unlock all features. Prices exclude taxes.</p>
</div>
<div class="container text-center mt-4">
    <div class="row">
        <div class="col-xs-6 col-sm-8 col-md-8 col-lg-4 mb-4 mx-auto">
            <div id="plan-free" class="pricingcard">
                <div class="pricing-card-header">
                    <h5 class="mt-2 mb-1 font-weight-bold">Free</h5>
                    <span class="pricing-subheader">Start free, upgrade when you want.</span>
                </div>
                <div class="pricing-card-body">
                    <h3 class="mt-2 mb-2 font-weight-bold pricingcard-price" style="font-size: 1.8em; color: #04143a;">
                        <small style="font-size: 50%;">$</small>0<sup> /year</sup>
                    </h3>
                </div>
                <div class="pricing-card-cta">
                    <a href="https://gsuite.google.com/marketplace/app/labelmaker/585829216542" class="btn btn-outline" style="width:100%">START FREE</a>
                </div>
            </div>
        </div>
        <div data-checkout-product="" class="col-xs-6 col-sm-8 col-md-8 col-lg-4 mb-4 mx-auto">
            <div class="pricingcard">
                <div class="pricing-card-header">
                    <h5 class="mt-2 mb-1 font-weight-bold" data-checkout-product-item="title">Yearly license</h5>
                    <span class="pricing-subheader" data-checkout-product-item="subtitle">Create unlimited labels for a year.</span>
                </div>
                <div class="pricing-card-body">
                    <h3 class="mt-2 mb-2 font-weight-bold pricingcard-price" style="font-size: 1.8em; color: #04143a;" data-checkout-product-item="price">
                        <!-- <strike><small style="font-size: 50%;">$</small>39<sup>.99</sup></strike> -->
                        <small style="font-size: 50%;">$</small>29<sup>.99 /year</sup>
                    </h3>
                </div>
                <div class="pricing-card-cta">
                    <button class="stripe-checkout btn btn-filled" data-toggle="modal" data-target="#activeIndividualModal" role="link" data-checkout-product-item="cta">
                        COMING SOON
                    </button>
                </div>
            </div>
        </div>
        <div data-checkout-product="" class="col-xs-6 col-sm-8 col-md-8 col-lg-4 mb-4 mx-auto">
            <div class="pricingcard" style="border-color: #007bff; border-width: 2px;">
                <div class="pricing-card-header">
                    <div id="launch-offer">Most popular</div>
                    <h5 class="mt-2 mb-1 font-weight-bold" data-checkout-product-item="title">Lifetime</h5>
                    <span class="pricing-subheader" data-checkout-product-item="subtitle">One time payment, lifetime access.</span>
                </div>
                <div class="pricing-card-body">
                    <h3 class="mt-2 mb-2 font-weight-bold" style="font-size: 1.8em; color: #04143a;" data-checkout-product-item="price">
                        <!-- <strike><small style="font-size: 50%;">$</small>89<sup>.99</sup></strike> -->
                        <small style="font-size: 50%;">$</small>79<sup>.99 /year</sup>
                    </h3>
                </div>
                <div class="pricing-card-cta">
                    <button class="stripe-checkout btn btn-filled" data-toggle="modal" data-target="#activeEnterpriseModal" role="link" data-checkout-product-item="cta">
                        COMING SOON
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
</section>