* {
  -webkit-font-smoothing: antialiased;
}

html,
body {
  scroll-behavior: smooth;
  font-size: 18px;
}

head,
body {
  font-family: "Inter", sans-serif;
}

section {
  padding: 2.5em 0 2.5em 0;
}

a {
  transition: all 0.625s cubic-bezier(0, 0, 0.2, 1);
  text-decoration: none;
}

a:hover,
a:active {
  text-decoration: none;
  color: #007bff;
}

footer {
  background: #f8fbff;
}

/* ----buttons---- */

button,
.btn {
  transition: all 0.4s cubic-bezier(0, 0, 0.2, 1);
  font-weight: 400;
  font-size: 1.2em;
  background-color: #007bff;
  border-radius: 4px;
  margin: 1em 0 1em 0;
  cursor: pointer;
  color: white;
}

nav .btn {
  margin: 0.2em;
  font-size: 1em;
  font-weight: bold;
}

.btn-outline {
  text-decoration: none;
  text-align: center;
  color: #007bff;
  border: 2px solid;
  border-radius: 6px;
  border-color: #007bff;
  background-color: white;
  outline: none;
  cursor: pointer;
}

.btn-filled {
  text-decoration: none;
  text-align: center;
  color: white;
  font-weight: bolder;
  border-radius: 6px;
  background-color: #007bff;
  outline: none;
  cursor: pointer;
}

button:hover,
.btn:hover {
  cursor: pointer;
}

.btn:focus,
.btn.focus {
  box-shadow: none;
}

.btn-filled:hover {
  color: #fff;
  transform: scale(1.014);
}

.btn-outline:hover {
  color: #007bff;
  transform: scale(1.014);
}

/* --- Headings --- */

h1 {
  font-size: 2.7em;
  font-weight: 800;
  padding-top: 2em;
}

h2.heading {
  font-size: 2.4em;
  font-weight: 700;
}

p.subheading {
  font-size: 1.1em;
}

/* --- nav ---- */

footer a:not(.btn),
.navbar a:not(.btn) {
  color: black;
}

.navbar li {
  margin: auto;
}

.navbar-toggler:hover,
.navbar-toggler:active,
.navbar-toggler:focus {
  outline: none;
}

.navbar-shadow {
  box-shadow: -2px -4px 20px 0px rgba(32, 41, 50, 0.12);
}

.navbar {
  background-color: white;
  border-bottom: 1px solid #dadce0;
  padding: 1em;
}

/* navbar toggler  */

.icon-bar {
  width: 22px;
  height: 2px;
  background-color: #b6b6b6;
  display: block;
  transition: all 0.2s;
  margin-top: 4px;
}

/*navbar toggler*/

.navbar-toggler {
  border: none;
  background: transparent !important;
}

.navbar-toggler .top-bar {
  transform: rotate(45deg);
  transform-origin: 10% 10%;
}

.navbar-toggler .middle-bar {
  opacity: 0;
}

.navbar-toggler .bottom-bar {
  transform: rotate(-45deg);
  transform-origin: 10% 90%;
}

.navbar-toggler.collapsed .top-bar {
  transform: rotate(0);
}

.navbar-toggler.collapsed .middle-bar {
  opacity: 1;
}

.navbar-toggler.collapsed .bottom-bar {
  transform: rotate(0);
}

/* ----Pricing section---- */

.pricingcard {
  background-color: white;
  -webkit-box-shadow: 0px 8px 26px 2px rgba(0, 0, 0, 0.02);
  box-shadow: 0px 8px 26px 2px rgba(0, 0, 0, 0.02);
  border: 1px solid #eee;
  border-radius: 8px;
  transition: all 0.625s cubic-bezier(0, 0, 0.2, 1);
}

.pricingcard-price strike {
  margin-right: 10px;
  font-size: 80%;
}

.pricingcard:hover {
  background-color: white;
  -webkit-box-shadow: 0px 8px 26px 2px rgba(0, 0, 0, 0.05);
  box-shadow: 0px 8px 26px 2px rgba(0, 0, 0, 0.05);
  cursor: pointer;
}

/* Pricing header */

.pricing-card-header {
  border-radius: 8px 8px 0 0;
  background-color: white;
  border-bottom: 1px solid rgba(16, 24, 32, 0.05);
  padding: 0.75rem 1.25rem;
  margin-bottom: 0;
}

/*Pricing content*/

.pricing-card-body {
  padding: 1em 1em 0 1em;
}

.pricing-card-cta {
  padding: 0em 1em 0 1em;
}

.pricingcard button,
.pricingcard button.btn-outline {
  width: 100%;
  cursor: default;
}

@media (min-width: 576px) {
  .card-deck {
    margin-left: 0px !important;
    margin-right: 0px !important;
  }
}

sup {
  font-weight: normal;
  font-size: 0.55em;
}

#launch-offer {
  font-size: 0.7em;
  font-weight: bold;
  color: white;
  position: absolute;
  top: 0px;
  right: 6%;
  border-radius: 0;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  padding: 0.3em 0.65em 0.02em;
  background: #007bff;
}

#pricing-table {
  background-color: white;
  -webkit-box-shadow: 0px 8px 26px 2px rgba(0, 0, 0, 0.02);
  box-shadow: 0px 8px 26px 2px rgba(0, 0, 0, 0.02) l;
  border: 1px solid #eee;
  border-radius: 8px;
  padding: 0.5em;
}

#pricing-table th {
  color: #aaa;
  font-size: 0.8em;
  text-transform: uppercase;
  padding: 0.5em 0 0.5em 0;
}

#pricing-table tr {
  border-bottom: 1px solid #eee;
}

#pricing-table tr:last-child {
  border-bottom: none;
}

#pricing-table td {
  padding: 0.6em 0 0.6em 0;
}

#pricing-contact-card {
  background-color: white;
  -webkit-box-shadow: 0px 8px 26px 2px rgba(0, 0, 0, 0.02);
  box-shadow: 0px 8px 26px 2px rgba(0, 0, 0, 0.02) l;
  border: 1px solid #eee;
  border-radius: 8px;
  transition: all 0.625s cubic-bezier(0, 0, 0.2, 1);
}
/* Labels */

.list-unstyled.list-columns {
  column-count: 3;
  column-gap: 50px;
  column-width: 100px;
}

/* Breadcrumb */

.breadcrumb {
  padding: 5em 0 0 0;
  margin-bottom: 20px;
  list-style: none;
  text-align: center;
  display: block !important;
  background: none;
}

.breadcrumb > li {
  display: inline-block;
}

.breadcrumb > li + li:before {
  padding: 0 5px;
  color: #ccc;
  content: "/\00a0";
}

.breadcrumb > .active {
  color: #374252;
}

.breadcrumb li a {
  color: #374252;
  text-decoration: none;
}

.breadcrumb li a:hover {
  color: #007bff;
  text-decoration: none;
}

/* Guides */

.guide-section h2 {
  padding-top: 5rem;
}

.guide-section img {
  width: 80%;
  display: block;
  margin: 2rem auto;
  box-shadow: -2px -4px 20px 0px rgba(32, 41, 50, 0.12);
}

.guide-section img.no-shadow {
  box-shadow: none;
}

/* Christmas offer */

#christmas-banner {
  background: #2abb9b;
  color: white;
  text-align: center;
  font-weight: 800;
  padding: 1rem;
}
body {
  padding-top:80px;
}
@media screen and (max-width: 768px) {
  body {
    padding-top: 150px;
  } /* add padding on tablet and mobile displays for banner */
}

@media screen and (max-width: 300px) {
  body {
    padding-top: 200px;
  } /* add padding on tablet and mobile displays for banner */
}