<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: 'en' }}">
  {%- include head.html -%}

  <body>
    {%- include header.html -%} {{ content }} {%- include footer.html -%}

    <!-- Bootstrap scripts -->
    <script src="/assets/js/jquery.3.5.1.slim.min.js" defer></script>
    <script src="/assets/js/popper.1.16.0.min.js" defer></script>
    <script src="/assets/js/bootstrap.4.5.0.min.js" defer></script>

    <!-- Schema.org -->
    <script type="application/ld+json">
      {
        "@context": "https://schema.org",
        "@type": "WebApplication",
        "applicationCategory": "BusinessApplication",
        "applicationSuite": "Google Workspace",
        "installUrl": "https://workspace.google.com/marketplace/app/create_print_labels_label_maker_for_aver/585829216542",
        "operatingSystem": " Windows 7, OSX 10.6, Linux",
        "aggregateRating": {
          "@type": "AggregateRating",
          "ratingValue": "4.8",
          "reviewCount": "11189"
        },
        "headline": "Create and print labels in Google Docs",
        "description": "Labelmaker helps you mail merge labels with Google Docs & Sheets. Print mailing labels from a wide choice of label manufacturers, including Avery, Herma, SheetLabels and more.",
        "name": "Labelmaker",
        "offers": {
          "@type": "Offer",
          "price": "0",
          "priceCurrency": "USD"
        }
      }
      </script>
  </body>
</html>
