---
layout: default
---

{% assign documentId = page.document | replace: "https://docs.google.com/open?id=", "" %}
{%- assign downloadURLGoogleDocs = "https://docs.google.com/document/copy?&id=" | append: documentId -%}
{%- assign downloadURLPDF = "https://docs.google.com/document/export?id=" | append: documentId | append: "&format=pdf&includes_info_params=true" -%}
{%- assign downloadURLWord = "https://docs.google.com/document/export?id=" | append: documentId | append: "&format=docx&includes_info_params=true" -%}

<style>
  .document-preview {
    border: 1px solid #eee;
    border-radius: 8px;
    background-color: #F9FBFD;
  }

  .document-preview-heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 1rem;
    text-align: left;
  }
</style>
<section>
  <nav aria-label="breadcrumb">
    <ul class="container breadcrumb">
      <li>
        <a href="/labels/" itemprop="item">Templates</a>
      </li>
      <li>
        <a class="font-weight-bold" href="/labels/">Compatible with {{ page.vendor }}</a>
      </li>
    </ul>
  </nav>
  <div class="container text-center pb-3">
    <h1 style="max-width: 800px; margin-left: auto; margin-right: auto">Template for Google Docs compatible with {{ page.name }}</h1>
    <p class="col-md-9 mx-auto subheading">Find the most popular label templates for Google Docs, Word, PDF.</p>
  </div>

  <div class="container text-center mb-5">
    <div class="document-preview">
      <div class="document-preview-heading">
        <div style="max-width: 50%">
          <div class="text-ellipsis" style="font-weight: bold;">Labels template compatible with "{{ page.name }}" Labels template compatible with "{{ page.name }}" Labels template compatible with "{{ page.name }}"</div>
          <div class="text-muted">By labelsmerge.com</div>
        </div>
    
        <div class="btn-group" role="group" aria-label="Download options">
          <div class="btn-group" role="group">
            <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-expanded="false">Download template</button>
            <div class="dropdown-menu">
              <a class="dropdown-item" href="{{ downloadURLWord }}">Download as .DOCX</a>
              <a class="dropdown-item" href="{{ downloadURLPDF }}">Download as .PDF</a>
              <a class="dropdown-item" href="{{ downloadURLGoogleDocs }}" target="_blank">Edit in Google Docs</a>
            </div>
          </div>
        </div>
      </div>
      <iframe class="w-100" style="border:0; min-height: 500px;" src="https://docs.google.com/document/d/{{ documentId }}/preview"></iframe>
    </div>
  </div>

  <div class="container text-center my-5">
    <h2 class="mb-5">Download this template in all formats</h2>
    <div class="row">
      <div class="col-sm-6 col-lg-4">
        <div class="mb-3">
          <img src="/assets/images/elements/microsoft-word-logo.png" height="64" alt="Microsoft Word Logo">
        </div>
        <h4>Microsoft Word</h4>
        <p style="margin: 0.5rem auto; font-size: 0.85rem; max-width: 60%">To create labels in Microsoft Word 2007 or later</p>
        <a href="{{ downloadURLWord }}" target="_blank" class="btn btn-primary mt-1" style="width: 80%">Download .DOCX</a>
      </div>
      <div class="col-xs-6 col-lg-4">
        <div class="mb-3">
          <img src="/assets/images/elements/pdf-logo.png" height="64" alt="PDF Logo">
        </div>
        <h4>PDF</h4>
        <p style="margin: 0.5rem auto; font-size: 0.85rem; max-width: 60%">To create labels with your printer at any time</p>
        <a href="{{ downloadURLPDF }}" target="_blank" class="btn btn-primary mt-1" style="width: 80%">Download .PDF</a>
      </div>
      <div class="col-xs-6 col-lg-4">
        <div class="mb-3">
          <img src="/assets/images/elements/google-docs-logo.png" height="64" alt="Google Docs Logo">
        </div>
        <h4>Google Docs</h4>
        <p style="margin: 0.5rem auto; font-size: 0.85rem; max-width: 60%">To create labels in any version of Google Docs.</p>
        <a href="{{ downloadURLGoogleDocs }}" target="_blank" class="btn btn-primary mt-1" style="width: 80%">Edit in Google Docs</a>
      </div>
    </div>
  </div>

  {% if page.snippet %}
  <div class="container my-5">
    <h2>Label description</h2>
    <p>{{ page.snippet | markdownify }}</p>
  </div>
  {% endif %}
  
  {% if page.compatibilities %}
  <div class="container my-5">
    <h2 id="compatible-labels">Other compatible templates</h2>
    {% assign compatibles = page.compatibilities | split: ", " %}
    <ul class="list-unstyled list-compatible-labels">
      {% for compatible in compatibles %} {% assign path = compatible | replace: " ", "-" | prepend: '_labels/avery-' | append: "-template-google-docs.html" | downcase %} {% assign
      compatible_exist = site.documents | where: "relative_path", path %}
      <li>
        {% if compatible_exist and compatible_exist.size != 0 %}
        <a href='{{ path | replace: "_labels/", "/labels/" | replace: ".html", "" }}'>{{ compatible }}</a>
        {%else%}
        <span>{{ compatible }}</span>
        {%endif%}
      </li>
      {% endfor %}
    </ul>
    <style>
      .list-compatible-labels li {
        display: inline-block;
      }

      .list-compatible-labels li:not(:last-child) a::after,
      .list-compatible-labels li:not(:last-child) span::after {
        content: ', ';
      }
    </style>
  </div>
  {% endif %}

  <div class="container">
    <h2>Disclaimer</h2>
    <p>
      Templates provided herein are compatible with different labels providers, including Avery®, SheetLabels.com, OnlineLabels.com, Herma and others. All products and company
      names are trademarks™ or registered® trademarks of their respective holders. Use of them in this website does not imply any affiliation with or endorsement by them.
      <strong>Labelmaker is not affiliated with those providers.</strong>
    </p>
  </div>
</section>

{%- include reinsurance.html -%}

<script type="application/ld+json">
  {
    "@context": "https://schema.org",
    "@type": "DigitalDocument",
    "name": "{{ page.name }}",
    "creator": "Labelmaker",
    "url": "{{ page.document }}",
    "discussionUrl": "{{ page.document }}"
  }
</script>

<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "BreadcrumbList",
  "itemListElement": [{
    "@type": "ListItem",
    "position": 1,
    "name": "Labels Templates",
    "item": "https://example.com/labels/"
  },{
    "@type": "ListItem",
    "position": 2,
    "name": "Compatible with {{ page.name | json }}"
  }]
}
</script>
  